<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<'hello'>">
    <title>自动签到</title>
    <meta name="robots" content="noindex,nofollow">

    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/frame.css">
    <link rel="stylesheet" href="../static/css/indexbody.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery-1.10.2.js"></script>

</head>

<body>

<script>


</script>

<div class="login-box">
    <div class="login-top"></div>
    <div class="login-main">
        <h1 style="color: red; " align="center">自动签到</h1>
        <form>

            <div class="login-item">
                <input id="userName" type="text" name="userName" placeholder="用户名">
            </div>
            <div class="login-item">
                <input id="userPwd" type="password" name="userPwd" placeholder="密码">
            </div>




            <div class="login-foot">
                <a href="/index/autoSign" target="_blank" class="float-left" style="color: red">----</a>
                <a href="https://sz.centanet.com/?sem=baidu&hmpl=pzpc" target="_blank" class="float-right">中原地产首页</a>
            </div>

        </form>

        <div class="login-item">
            <button name="sm1" onclick="add();">签到历史</button>
        </div>


        <div style="width: 340px;height: 100px; overflow-x:auto ;overflow-y: auto;">
            <p id="demo"></p>
        </div>

    </div>
</div>
</body>
</html>